In [244]:
import pandas as pd #필요한 라이브러리 임포트
import numpy as np

In [514]:
#일일수급상황 데이터 불러오기 인덱스로 조회일자 설정
data_set = pd.read_excel('./data/일일수급상황_2019.xlsx',index_col='조회일자')

In [516]:
#불러온 데이터셋에서 필요한 컬럼인 중분류명과 주의단계코드만 추출
data = data_set[['중분류명','주의단계코드']]

In [641]:
#일일수급상황(2019년 데이터) 데이터에서 현재날짜에서 작년꺼 보기위해 날짜를 빼준다.
from datetime import datetime, timedelta
yesterday = datetime.today() - timedelta(367) #현재날짜에서 367일 빼주기
yes = yesterday.strftime('%Y%m%d') 
yes

'20191201'

In [637]:
data

         중분류명  주의단계코드
조회일자
20190101   배추     3.0
20190101    무     3.0
20190101  건고추     7.0
20190101   마늘     NaN
20190101   마늘     4.0
...       ...     ...
20191231  건고추     4.0
20191231   마늘     NaN
20191231   마늘     2.0
20191231   양파     3.0
20191231   대파     4.0

[2555 rows x 2 columns]

In [638]:
n = data.loc[yes] #현재날짜 인덱스에 있는 값만 추출하기
n

         중분류명  주의단계코드
조회일자
20191201   배추     5.0
20191201    무     6.0
20191201  건고추     4.0
20191201   마늘     NaN
20191201   마늘     2.0
20191201   양파     1.0
20191201   대파     1.0

In [642]:
#주의단계코드의 제일 큰 값과 작은 값을 추출하여 그 값에 해당하는 중분류명 추출

max_min_code = n[(n['주의단계코드']==max(n['주의단계코드'])) | (n['주의단계코드']==min(n['주의단계코드']))] 
max_min_code['중분류명']

조회일자
20191201     무
20191201    양파
20191201    대파
Name: 중분류명, dtype: object